<div class="container">
    <h1>Type to search! 😉</h1>
    <form (submit)="searchCities($event)">
        <input type="text" placeholder="Enter a city" [(ngModel)]="searchQuery" name="searchQuery"/>
        <button type="submit">Go</button>
    </form>
    <ul *ngIf="citiesResults.length > 0">
        <li *ngFor="let city of citiesResults">
            {{ city.cityName }} - Count: {{ city.count }}
        </li>
    </ul>
    <p *ngIf="citiesResults.length === 0 && searchQuery">Try again!</p>
</div>